@page "/extract-audio"
@using Microsoft.AspNetCore.Components.Forms

@inject FileDialogService FileDialogService

<PageTitle>提取音频 - Clipify</PageTitle>

<div class="container">
    @if (string.IsNullOrWhiteSpace(FilePath)) {
        <div class="flex items-center justify-center w-full" @onclick="OpenFileDialog">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <i class="fa-solid fa-arrow-up-from-bracket text-4xl mb-4 text-gray-500 dark:text-gray-400"></i>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                        <span class="font-semibold">点击选择文件</span> 或拖放（暂不支持）
                    </p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">支持各种视频格式，如：mp4, avi, ts</p>
                </div>
                @* <input id="dropzone-file" type="file" class="hidden"/> *@
                @* <InputFile OnChange="@LoadFiles"/> *@
            </label>
        </div>
    }
    else {
        <div class="p-6 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
            <i class="fa-solid fa-film text-4xl text-gray-500 dark:text-gray-400 mb-3"></i>
            <a href="#">
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                    @Path.GetFileName(FilePath)
                </h5>
            </a>
            <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
                路径：@FilePath
            </p>
            <button role="link" class="inline-flex gap-2 font-medium items-center text-blue-600 hover:underline">
                打开文件
                <i class="fa-solid fa-up-right-from-square text-xs"></i>
            </button>
        </div>
    }
    
</div>