@page "/video-split"

@inject IMessageService _message


<div class="py-8 px-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <h3 class="text-4xl">视频剪辑</h3>
    <p class="text-gray-500">该功能还在集成中，请先使用 <a href="https://github.com/Deali-Axy/clipify/releases/tag/v0.1">QuickCutSharp</a></p>
    <Button Type="primary" OnClick="OnClick">Hello World!</Button>
</div>


@code {

    private void OnClick() {
        Console.WriteLine("onclick");
        _message.Info("This is a normal message");
    }

}